<header class="cafe-header-wrap">
  <div class="cafe-header-inner">

    <a href="/" class="logo-area">
      <div class="b-box">
        <span>B</span>
      </div>
      <span class="logo-text">Cafe</span>
    </a>

    <div class="cafe-header-content">
      <a href="/cafe/{{cafe.address}}" class="cafe-home-link">
        <h1 class="cafe-title">{{cafe.name}}</h1>
        <p class="cafe-url">https://nestjscafe/{{cafe.address}}</p>
      </a>
    </div>

  </div>
</header>