<header id="header" class="header">
    <div class="inner">

      <a href="/" class="logo-area">
        <div class="b-box">
          <span>B</span>
        </div>
        <span class="logo-text">Cafe</span>
        <span class="logo-divider"></span>        
      </a>


      <div class="search-bar">
        <div class="search-input-box">
          <input type="text" placeholder="원하는 카페, 글을 찾아보세요">

          <div class="search-actions">
            <button class="icon-btn help-btn" title="도움말">?</button>

            <button class="icon-btn arrow-btn" title="더보기">▾</button>

            <button class="icon-btn search-btn" title="검색">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.999 17L21.999 22" stroke="#007fd4" stroke-width="2.5" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path
                  d="M10.5 19C15.1944 19 19 15.1944 19 10.5C19 5.80558 15.1944 2 10.5 2C5.80558 2 2 5.80558 2 10.5C2 15.1944 5.80558 19 10.5 19Z"
                  stroke="#007fd4" stroke-width="2.5" stroke-linejoin="round" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>