<nav id="sidebar_left" class="sidebar-left">
  <ul class="menu-list">
    <li>
      <a href="/" class="menu-item active"> <i class="fa-solid fa-house icon"></i>
        <span class="text">카페홈</span>
      </a>
    </li>
    <li>
      <a href="/neighbors" class="menu-item">
        <i class="fa-solid fa-users icon"></i> <span class="text">이웃</span>
        <span class="badge beta">beta</span>
      </a>
    </li>
    <li>
      <a href="/subs" class="menu-item">
        <i class="fa-solid fa-list-ul icon"></i> <span class="text">구독</span>
        <span class="badge count">1</span>
      </a>
    </li>
    <li>
      <a href="/popular" class="menu-item">
        <i class="fa-solid fa-fire icon"></i> <span class="text">인기글</span>
        <span class="badge new">N</span>
      </a>
    </li>
    <li>
      <a href="/news" class="menu-item">
        <i class="fa-regular fa-bell icon"></i> <span class="text">내소식</span>
      </a>
    </li>
    <li>
      <a href="/chat" class="menu-item">
        <i class="fa-regular fa-comments icon"></i> <span class="text">채팅</span>
      </a>
    </li>
  </ul>

  <div class="divider"></div>

  <ul class="category-list">
    <li><a href="#" class="category-item">주제별 카페</a></li>
    <li><a href="#" class="category-item">지역별 카페</a></li>
    <li><a href="#" class="category-item">인기 팬카페</a></li>
  </ul>
</nav>