<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Cafe</title>  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/pages/cafe.css">
  <link rel="stylesheet" href="/css/pages/home_create.css">
  <link rel="stylesheet" href="/css/pages/home.css">
  <link rel="stylesheet" href="/css/partials/header.css">
  <link rel="stylesheet" href="/css/partials/sidebar_left.css">
  <link rel="stylesheet" href="/css/partials/sidebar_right.css">
  <script src="/js/api.js"></script>
</head>
<body>

  {{> header}}

  <div class="container">
    
    {{> sidebar_left}}

    <main class="main-content">
       {{> (lookup . 'targetView') }}
    </main>
    
    {{> sidebar_right}}

  </div>
</body>
</html>